body {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  background: #f5f5dc;
  color: #333333;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  font-family: inherit;
}

input {
  border: none;
}

.container {
  display: flex;
  height: 100vh;
}
.left-side-container {
  width: 50%;
}
.overlay {
}
.logo-icon {
  fill: #ffcc34;
}
.company-text-wrap {
}
.company-name-title {
  font-family: "Playfair Display", serif;
  color: #ffcc34;
}
.company-description-text {
  color: #ffffff;
}
.rigt-side-container {
  width: 50%;
}
.signin-section-wrap {
}
.welcome-text {
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}
.signup-wrap {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}
.create-account-text {
}
.singup-link {
}
.form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.form-input {
  background-color: #556b2f80;
  border-radius: 3px;
  margin-top: 12px;
}
.show-password {
}
.form-checkbox {
}

.btns {
  display: flex;
  justify-content: space-between;
}

.signin-btn {
}
.btn {
  background-color: #ffcc34;
  font-family: "Playfair Display", serif;
}
.google-signin {
}
