body {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  background: #f5f5dc;
  color: #333333;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  font-family: inherit;
}

input {
  border: none;
}

.container {
  display: flex;
  height: 100vh;
  min-width: 1110px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.left-side-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay {
}
.logo-icon {
  fill: #ffcc34;
  position: absolute;
  top: 28px;
  left: 28px;
}
.company-text-wrap {
  text-align: center;
}
.company-name-title {
  font-family: "Playfair Display", serif;
  color: #ffcc34;
  margin-bottom: 16px;
  font-size: 40px;
}

.company-description-text {
  color: #ffffff;
}
.rigt-side-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin-section-wrap {
  display: flex;
  flex-direction: column;
}
.welcome-text {
  font-family: "Playfair Display", serif;
  margin-bottom: 20px;
}
.signup-wrap {
  margin-bottom: 60px;
  display: flex;
  justify-content: space-between;
}
.create-account-text {
}
.singup-link {
}
.form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-direction: column;
}

.form-input {
  background-color: #556b2f80;
  border-radius: 3px;
  margin-top: 12px;
  margin-bottom: 28px;
}
.show-password {
}
.form-checkbox {
  margin-top: 40px;
  margin-bottom: 52px;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #ffcc34;
  font-family: "Playfair Display", serif;
  border: 1px solid #556b2f80;
  border-radius: 4px;
  height: 52px;
  font-size: 14px;
}

.signin-btn {
}

.google-signin {
}
