body {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  background: #f5f5dc;
  color: #333333;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  font-family: inherit;
}
